* {
	margin: 0;
	padding: 0;
	transition: all 0.5s ease;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	width: 100%;
	background: #000 url(../images/body-bg.jpg) center top no-repeat;
	color:#88735e;
}
a{
	color:#88735e;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 730px;
	background:url(../images/header-bg.jpg) no-repeat;
}
.menu-top{
	height:68px;
}
.menu-top ul{
	text-align:center;
}
.menu-top ul li{
	display:inline-block;
	text-align:center;
}
.menu-top a{
	color:#fff;
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
	text-decoration:none;
	color:#d5d8ab;
	display:block;
	height:68px;
	line-height:68px;
	padding:0px 20px;
	text-transform:uppercase;
}
.menu-top a:hover{
	background:url(../images/menu-top-hover.jpg) center repeat-x;
	background-size:cover;
	transition:none;
}
.logo{
	text-align:center;
	margin-top:239px;
}
.but{
	float:left;
	text-align:center;
	color:#cac4be;
	font-size:10px;
}
.but a{
	color:#97887a;
	text-decoration:none;
	font-size:10px;
}
.reg-buttons{
	margin-left:260px;
	margin-top:40px;
	height:48px;
}
.download-button{
	background:url(../images/download-button.jpg) no-repeat;
	width:186px;
	padding-top:9px;
	height:39px;
}
.start-button{
	background:url(../images/start-button.jpg) no-repeat;
	width:189px;
	height:47px;
}
.start-button a{
	font-size:12px;
	color:#a9ff5d;
	text-shadow:0px 0px 10px #a9ff5d;
	display:block;
	padding-top:14px;
	padding-bottom:10px;
}
.but a:hover{
	color:#fff;
}
.lang-button{
	background:url(../images/lang-button.jpg) no-repeat;
	width:189px;
	height:39px;
	padding-top:8px;
}
.slider{
	width:540px;
	height:115px;
	margin-left:295px;
	margin-top:67px;
	font-size:9px;
}
.item{
	text-align:center;
	color:#88735e;
}
.item span{
	color:#5c5854;
}
.cat-item{
	background:url(../images/item-bg.png) no-repeat;
	width:174px;
	height:91px;
	
}
.cat-item img{
	width:136px;
	height:65px;
	margin-top:14px;
}
.prev, .next{
	cursor:pointer;
	top:-115px;
}
.customNavigation{
	position:relative;
}
.prev{
	position:absolute;
	left:-65px;
}
.next{
	position:absolute;
	right:-65px;
}
.prev img, .next img{
	transition:all 0.5s ease;
}
.prev img:hover, .next img:hover{
	filter: brightness(1.2);
}
.right-sidebar{
	float:right;
	width:350px;
}
.server-status{
	margin-top:30px;
	height:250px;
}
.server-status-title{
	text-align:center;
	padding-top:28px;
}
.online-bg{
	background:url(../images/shkala.png) no-repeat;
	width:130px;
	height:28px;
}
.st-green{
	width:70%;
	max-width:110px;
	background:url(../images/green-bg.png) center repeat-x;
	margin-left:10px;
	height:28px;
	border-radius:70px;
}
.st-red{
	width:20%;
	max-width:110px;
	background:url(/images/red-bg.png) center repeat-x;
	margin-left:10px;
	height:28px;
	border-radius:70px;
}
.block-status table{
	margin-top:12px;
	margin-left:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#dbbfa0;
	height:95px;
}
.block-status table td{
	padding:2px 3px 2px 3px;
}
.lo{
    margin-top:0px;
	margin-left:7px;
}
.onl1{
	font-family:"Times New Roman", Times, serif;
	color:#48d24e;
}
.onl2{
	font-family:"Times New Roman", Times, serif;
	color:#ffa44b;
}
.refresh{
	color:#d5d8FF;
	font-family:"Times New Roman", Times, serif;
	font-size:16px;
	float:right;
	width:300px;
	text-align:left;
	margin-right:55px;
	margin-top:40px;
}
.refresh img{
	transition: all 0.7s ease 0s;
}
.refresh img:hover{
	filter: brightness(1.5);
}
.total{
	font-family:"Times New Roman", Times, serif;
	color:#dbbfa0;
	font-size:19px;
	margin-left:60px;
	line-height:20px;
}
.total span{
	font-size:10px;
}
.block-forum{
	margin-top:19px;
}
.forum-title{
	text-align:center;
	height:48px;
}
.forums{
	background:url(../images/forums-icon.png) center left 10px no-repeat;
	width:196px;
	height:41px;
	margin:0 auto;
	margin-bottom:10px;
	color:#5c5854;
	line-height:16px;
	padding-top:10px;
	padding-left:40px;
}
.forums a:hover{
	color:#fff;
}
.forums-name{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right:5px;
}
.forums-name a{
	text-decoration:none;
	font-size:10px;
}
.forums-autor span{
	color:#88735e;
}
.forums-autor{
	font-size:9px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* Middle
-----------------------------------------------------------------------------*/
.content-bg {
	height:1000px;
	background:url(../images/content-bg.jpg) no-repeat;
}
.container{
	padding-top: 75px;
	width: 600px;
	padding-left: 20px;
}
.news-block-title{
	text-align:center;
	height:100px;
	padding-left:10px;
}
.news{
	height:160px;
	width:455px;
	margin:0 auto;
	text-align:justify;
	background:url(../images/news-bg.png) center bottom no-repeat;
	margin-bottom:15px;
}
.news-date{
	float:right;
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
	margin-top:-2px;
}
.news-date span{
	color:#dabea0;
	font-size:18px;
}
.news-title{
	height:27px;
	
}
.news-title a{
	color:#e2dad1;
	font-size:13px;
}
.news-title a:hover{
	text-decoration:none;
}
.tit{
	width:360px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.news-text{
	height:65px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height:16px;
}
.news-mes{
	background:#2c2423;
	height:30px;
	line-height:30px;
	font-size:10px;
	padding-left:6px;
	color:#796756;
	margin-top:10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.news-mes a, .news-d{
	color:#a28f7b;
}
.news-mes a:hover{
	color:#fff;
	text-decoration:none;
}
.news-mes img{
	margin-bottom:-4px;
	padding-right:3px;
}
.more{
	float:right;
	padding-right:15px;
}
.navigation{
	text-align:center;
}
.navigation li{
	list-style:none;
	display:inline-block;
	padding:0px 4px;
}
.navigation li a{
	color:#74634c;
	text-decoration:none;
}
.navigation li a:hover, .navigation .active a{
	color:#ada498;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 270px;
	background:url(../images/footer-bg.jpg) no-repeat;
}
.footer-menu{
	text-align:center;
	padding-top:155px;
}
.footer-menu li{
	list-style:none;
	display:inline-block;
	padding:0px 15px;
}
.footer-menu a{
	color:#453519;
	text-decoration:none;
	font-size:10px;
}
.footer-menu a:hover{
	color:#fff;
}
.copy{
	text-align:center;
	color:#453519;
	font-size:10px;
	padding-top:50px;
}
.content {
    margin: 60px 0 0 0px;
}
.welcome {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
    background: none;
    border: none;
    text-align: center;
    box-sizing: border-box;
}
/* глобально ограничиваем любой блок контента 400 px */
.content,
.page-view,
.news,
.news-text {
    max-width: 512px !important;
    width: 100% !important;
}
.nav-mini {
    display: flex;
    gap: 5px;
    margin-left: 2px;
    padding: 0;
    list-style: none;
    max-width: 512px;
    flex-wrap: wrap;
}

.nav-mini li {
    white-space: nowrap; 
}

.nav-mini a {
    text-decoration: none; 
    color: #88735e;
    font-size: 11px;
}
.text-muted        { color: #88735e !important; }
.text-primary      { color: #dabea0 !important; }
.text-success      { color: #48d24e !important; }
.text-danger       { color: #c73c3c !important; }
.text-warning      { color: #ffa44b !important; }
.text-info         { color: #5c5854 !important; }

.bg-primary        { background-color: #6b5a48 !important; }
.bg-success        { background-color: #48d24e !important; }
.bg-danger         { background-color: #c73c3c !important; }
.bg-warning        { background-color: #ffa44b !important; }
.bg-info           { background-color: #5c5854 !important; }

.btn               { padding: 6px 12px; font-size: 11px; border-radius: 3px; border: 0px solid #453519; }
.btn-primary       { color: #e2dad1; background-color: #6b5a48; border-color: #453519; }
.btn-success       { color: #000; background-color: #48d24e; border-color: #3aa03a; }
.btn-danger        { color: #fff; background-color: #c73c3c; border-color: #a52a2a; }
.btn-warning       { color: #000; background-color: #ffa44b; border-color: #d6872a; }
.btn-info          { color: #000; background-color: #5c5854; border-color: #453519; }
.btn:hover         { filter: brightness(1.1); }

.form-control      { background: #1a1614; border: 1px solid #453519; color: #88735e; font-size: 11px; padding: 6px 9px; }
.form-control:focus{ border-color: #88735e; outline: none; }
.form-group        { margin-bottom: 15px; }
.help-block        { font-size: 10px; color: #88735e; margin-top: 4px; }
.auth-form,
.login-form,
.bonuses-form,
.item-form,
.shop-category,
.game-servers-index {
    margin: 0 0 0 200px;
}

.auth-form label,
.login-form label,
.bonuses-form label,
.item-form label {
    display: block; 
    margin-bottom: 4px;
    font-size: 11px;
    color: #88735e;
    text-transform: capitalize;
}
.forum-title {
    margin-left: -40px;
}
.panel-body {
    margin-top: -55px;
    width: 275px !important;
    padding: 8px;
    font-size: 15px;
    color: #88735e;
    line-height: 1.4;
    word-wrap: break-word;
}
.panel-heading {
    margin-top: 20px;
    font-size: 20px;
    color: #88735e;
    line-height: 1.2;
	margin-left: -40px;
}